@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-select-container {
  position: relative;
  display: inline-block;
  width: 200px;
}

select {
  /* appearance: none; */
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
}